@font-face {
    font-family: 'Tan Rosebud';
    src: url('fonts/TAN-ROSEBUD.ttf') format('truetype');
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* Page stays white */
    color: #333;
}

header {
    background-color: #e4e2dd; /* Heading background color */
    color: #333; /* Dark text for contrast */
    padding: 0.5rem 1rem;
    text-align: center;
}

nav {
    background-color: #333;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin: 0 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

.divnadpis {
    padding: 0 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divnadpis h1 {
    margin-top: 1.6rem;
}

.diva {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

nav a:hover {
    text-decoration: underline;
}

section {
    max-width: 800px;
    margin: auto;
    padding: 1rem 1rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

h2 {
    color: #333;
}

.project {
    border-left: 4px solid #000;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: "- ";
    padding-left: 1.5rem;
    line-height: 1.5;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.nadpis {
    font-family: 'Tan Rosebud', Arial, sans-serif;
    font-size: 30px;
    color: white;
}

.podpis {
    font-family: Arial;
    font-weight: bold;
    margin-top: 0;
}

.metrodimg {
    margin-left: 3rem;
}